.intro{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.intro h1{
    color: azure;
    font-weight: 900;
}
.intro img{
    width: 700px;
    height: 300px;
}
.intro2 h3{
    font-style: italic;
    color: azure;
    font-weight: 700;
    padding-left: 300px;
    margin-top: 15px;
}

.container11 {
    background-color: #010100;
    height: 300px;
    width: 400px;
    border-style: inset;
    border-color: white;
    margin-left: 505px;
    margin-top: 15px;
}
.container11 h3{
    font-weight: 1000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    margin-top: 30px;
}
.container11 p{
    font-size: x-large;
    margin-left: 10px;
    padding-top: 20px;
    color: white;
    font-style: oblique;
}
.container1{
    background-color: #010100;
    height: 300px;
    width: 400px;
    border-style: inset;
    border-color: white;
    margin-left: 910px;
    transform: translate(0%, -19%);
}
.container1 h1{
    font-weight: 1000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    margin-top: 30px;
}
.container1 p{
    font-size: x-large;
    margin-left: 10px;
    padding-top: 20px;
    color: white;
    font-style: oblique;

}
.random1{
    font-style: italic;
font-size: 100px;
font-style: italic;
}
.random1 h1{
    color: azure;
    padding-left: 1000px;
    position: absolute;
    transform: translate(20%, -300%);
    
}
.random2{
    font-style: italic;
    font-size: 500px;
    font-style: italic;
}
.random2 h1{
    color: azure;
    padding-left: 300px;
    transform: translate(5%, 70%);
}