[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-migrate = "*"
flask-login = "*"
flask-wtf = "*"
sqlalchemy-serializer = "==1.4.21"
flask-cors = "*"
flask-bcrypt = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.10"
